@use "../partials/global";

.navCentreMain {
  @include global.flex-center(flex, center, center, row);
  gap: 0.35rem;
  position: absolute;
  left: 33%;


  .homeIcon {
    @include global.icon-bg;
  }

  .searchbar{}
}
