@use "./partials/global";

.main {
  @include global.flex-center(flex, center, center, row);
  gap: 1.5rem;

  &:hover {
    cursor: pointer;
  }

  .downloadIcon {
    @include global.flex-center(flex, center, center, row);
    gap: 0.5rem;

    .download {
      @include global.flex-center(flex, center, center, row);
      gap: 0.5rem;
    }

    .installText {
      @include global.font($weight: 400);
      color: #b3b3b3;
    }
  }

  .notifyIcon {
    @include global.flex-center(flex, center, center, row);
    padding-top: 4px;
  }

  .accountIcon {
    @include global.icon-bg;
  }
}
