@use "partials/global" as *;

.main {
  @include flex-center(row);
  @extend .test-check;
  gap: 1.5rem;

  &:hover {
    cursor: pointer;
  }

  .downloadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .download {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .installText {
      font-family: "Satoshi", Arial, Helvetica, sans-serif;
      font-weight: 500;
      color: #b3b3b3;
    }
  }

  .notifyIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
  }

  .accountIcon {
    @include icon-bg;
  }
}
