@use "./partials/global";

.main {
  @include global.flex-center(flex, center, center, row);
  gap: 1.5rem;

  &:hover {
    cursor: pointer;
  }

  .installAppIcon {
    @include global.flex-center(flex, center, center, row);
    @include global.iconHover(1.05, #ffffff);
    padding-right: 8px;

    .installApp {
      @include global.flex-center(flex, center, center, row);
      gap: 0.5rem;
      padding-bottom: 8px;

      .installText {
        @include global.font(500, 14px);
        color: #b3b3b3;
      }
    }
  }

  .notifyIcon {
    @include global.flex-center(flex, center, center, row);
    @include global.iconHover(1.05, #ffffff);
  }

  .activityIcon {
    @include global.iconHover(1.05, #ffffff);
  }

  .accountIcon {
    @include global.icon-bg;
    @include global.iconHover(1.05, #ffffff);
  }
}
