@use "../partials/global";

.pbContainer{
  width: 100%;
  height: 100%;
  @include global.flex-center(flex, center, center, row);

  .timeOver, .timeLeft{
    height: 100%;
    width: 10%;
    @include global.flex-center(flex, center, center, row);
    margin-bottom: 8px;

     p {
        color: #4d4d4c;
     }
  }
  .progressbar{
    height: 100%;
    width:100%;
    }

    .progressbarBg{
      width: 100%;
      height: 4px;
      margin-top: 1.25rem;
      background-color: #4d4d4c;
      border-radius: 3rem;
      position: relative;

      &:hover {
        cursor: pointer;

        .progressbarFilled{
          background-color:#1BD660;
        }

        .progressbarThumb{
          visibility: visible;
        }
    }

      .progressbarFilled{
        width: 25%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 3rem;
      }

      .progressbarThumb{
        position: absolute;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: white;
        visibility: hidden;
        top: 50%;
        left: 24%;
        transform: translate(-50%, -50%);
      }

  }
}